/* css styles */

.headshot {
  width: 220px;
  border-radius: 50%;
}

.icon-row img {
  margin-right: 12px;
  vertical-align: middle;
}

.icon-row a {
  text-decoration: none;
}

.icon-row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-row a {
    display: inline-block;
}

.icon-row img {
    display: block;
}
